body {
    color: #00AEEF;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

button {
    color: #00AEEF;
    border-radius: 10px;
    border-width: 0px;
    background-color: #fff;
    box-shadow: 0px 1px 3px #ddd;
    padding: 6px;
}


button:hover {
    color: #fff;
    background-color: #00AEEF;
}

/** Navigation **/
.navigation-container {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navigation-container .navigation-item{
   margin: 0 auto;
   vertical-align: middle;
   height: 100%;
}

.navigation-container a.navigation-item{
    color: #00AEEF;
    text-decoration: none;
    margin: 0 auto;
}

/** Home **/
.home-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-action-call, .home-image {
    margin: 0 auto;
    display: grid;
}

.home-action-call h1 {
    align-self: center;
}

.home-action-call button {
    height: 40px;
}

/** Team **/
.team-container {
    width: 90%;
    height: 33rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.team-circle-container {
    padding: 100px;
}

.team-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: #fff;
    /* I know it's not in the spec, but without this you can't tell where they are */
    box-shadow: 0px 1px 3px #ddd;
}

.team-circle-container:first-child div:hover{
    background: #00AEEF;
}


.team-circle-container:nth-child(2) div:hover{
    background: #0000FF;
}

.team-circle-container:last-child div:hover{
    background: #FF00FF;
}

/** About **/
.about-container {
    width: 90%;
    height: 15rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

.about-item {
    border-radius: 20px;
    box-shadow: 0px 1px 3px #ddd;
}

.about-item:hover {
    background-color: #00AEEF;
}

/** Contact **/
.contact-container {
    width: 100%;
    padding-top: 2rem;
    margin: 0 auto;
    text-align: center;
    size: 25px;
}